{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if contact_information %}
        <div class="contact_info">
            <a href="tel:{{ contact_information.phone_number }}" title="{{ contact_information.phone_number }}">{{ contact_information.phone_number }}</a>
            <a href="mailto:{{ contact_information.email }}" title="{{ contact_information.email }}">{{ contact_information.email }}</a>
            <span>{{ contact_information.address | linebreaks }}</span>
        </div>
    {% endif %}


    <form method="POST" action="{% url 'contact' %}">
        {% csrf_token %}
        {{ form }}
        <button type="submit">{% trans "Enviar" %}</button>
    </form>
{% endblock content %}
